%p  
  = f.label :title, '<strong>Titulek:</strong>'
  %br
  = f.text_field :title
%p  
  = f.label :perex, '<strong>Text:</strong>'
  %br
  = f.text_area :perex, :rows => 5, :cols => 80
%p  
  = f.label :publish_date, '<strong>Datum publikace:</strong>'
  %br
  = f.date_select(:publish_date)
%p
  = f.label :data, 'Obrázek - jpg, png'
  %br
  = f.file_field :data