%h2.page Novinky
%h4
  Celkem
  = @articles.total_entries
  novinek
.left  
  %form{:action => "/admin/articles/index", :method => "get"}
    %select{:id => "pagingSelector", :name => "pagingSelector", :onchange => "submit()"}
      %option{:value =>"all"} -- Stránkování --
      %option{:value => "50"} 50
      %option{:value => "100"} 100
      %option{:value => "300"} 300
    po 
    = params[:pagingSelector]
-#- form_tag(admin_news_index_path, :method => 'get') do  
-#  %p.right
-#    = text_field_tag :search, params[:search]
-#    = submit_tag "Hledat", :name => nil
.clear
= link_to 'Přidat novinku', new_admin_article_path
%br
%br
%table
  %tr
    %th
    %th Titulek
    %th Text   
    %th Návštěvnost
    %th Publikace
    %th Upraveno
    %th Obrázek
    %th Editace
    =#%th Odstranit 
  - @articles.each_with_index do |n, index|
    %tr{:class => cycle('odd', 'even') }
      %td= "#{index + 1}." 
      %td= n.title
      %td= truncate(h(n.perex), :length => 180, :omission => '&hellip;')
      %td= n.hits
      %td= formatted_date(n.publish_date)
      %td= formatted_date(n.updated_at)
      %td= image_tag n.data.url(:medium)
      -#%td= image_tag n.photo_file_name
      %td= link_to 'Upravit', :controller => 'articles', :action => 'edit', :id => n
      -#%td= link_to 'Odstranit', {:controller=>"admin/galleries", :action=>"destroy", :id => gallery}, :confirm => 'Jste si jistí?', :method => :delete
      %td
%br 
= will_paginate @articles, :previous_label => '<< Předchozí', :next_label => 'Další >>'
