%h2.page Editace uživatelů
%table
  %tr
    %th Přihlašovací jméno
    %th Křestní jméno
    %th Příjmení
    %th E-mail
    %th Město
    %th Účet vytvořen
    %th Počet přihlášení
  - @users.each do |user|
    %tr{:class => cycle('odd', 'even')} 
      %td= user.login
      %td= user.first_name
      %td= user.last_name
      %td= mail_to user.email, user.email
      %td= user.city
      %td= user.created_at
      %td= user.login_count

          