%ul#menu
  %li= link_to 'Uživatelé', admin_users_path
  %li= link_to 'Výlety', admin_travels_path
  %li= link_to 'Galerie obrázků', admin_galleries_path
  %li= link_to 'Poslat známému', admin_friends_path
  %li= link_to 'Napište nám', admin_notes_path