!!! Strict
%html{ html_attrs('cs') }
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'content-language', :content => 'cs' }
    %meta{ :name => 'author', :content => 'Euro RSCG 4D Prague' }
    %meta{ :name => 'copyright', :content => '2008 Euro RSCG 4D' }
    %meta{ :name => 'description', :content => '...' }
    %meta{ :name => 'keywords', :content => 'eurorscg, eurorscg4d' } 
    %title Dobrá máma | Administrace
    = stylesheet_link_tag 'admin'
  %body
    #view
      %h1 Dobrá máma | Administrace
      = request.env['HTTP_X_FORWARDED_FOR']
      - if current_user
        = link_to "Odhlásit se", admin_logout_path, :class => 'right'
      - flash.each do |key, msg|
        %div{ :class => key }= msg
      %p.clear  
      = render :partial => 'layouts/admin_menu'
      %p.clear
      = yield